<div class="page">
    <button class="btn btn__discount" [class.btn__discount--active]="btnActiveF" (click)="applyDiscount(15)">Хочу скидку</button>
    <div class="product">
        <app-card-block class="product__item" *ngFor="let product of products; let i = index;"
            [id]="products[i].id"
            [name]="products[i].name"
            [price]="products[i].price"
            [discount]="discount"
            (idEvent)="idInfoApp($event)"
        ><div class="card-block__color" [style.background-color]="products[i].color"><b>{{products[i].color}}</b></div></app-card-block>
    </div>
    <div class="product-info">
        {{products[indexId].description}}
    </div>
</div>
